.account-order-history-component {
  background-color: #ddd;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  .orders-title {
    text-decoration: underline;
    font-weight: bold;
    padding-top: 10px;
  }
}
