body {
    background-color: #c4ced7;
    font-family: verdana;
}
table {
    border: 1px solid #ddd;
    padding: 1px;
    border-collapse: collapse;
    text-align: center;
}
td {
    border: 1px solid #999;
    background-color: #eee;
    padding: 5px;
}
th {
    border: 1px solid #999;
    background-color: #b8b8cd;
    padding: 5px;
}
a {
    color: #225;
}
.tableHeader {
    background-color: #32334b;
    color: white;
}
.details {
    font-size: 12px;
}
.pageTitle {
    font-size: 20px;
    font-weight: bold;
    background-color: #682b8b;
    text-align: center;
    color: white;
    padding: 5px;
}
.detailsHeader {
    font-weight: bold;
}
.suiteHeader {
    background-color: #52528d;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.pass {
    background-color: #abecab;
}
.fail {
    background-color: #ffa1a1;
}
.testName {
    font-weight: bold;
    background-color: #e2d3c1;
}
.test-details {
    border: 1px solid #aaa;
    background-color: #fdfdfd;
    width: 60%;
}
.screenshot {
    transform: scale(0.9);
    border: 2px solid #c7c5c5;
    width: 400px;
    height: 200px;
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -khtml-box-shadow: 5px 5px 5px #ccc;
    cursor: pointer;
    margin: 5px;
}
.error {
    background-color: palevioletred;
    padding: 20px;
    text-align: left;
}
.link-arrow {
    text-decoration: none;
    margin: 0 10px;
}
.text {
    text-align: left;
    margin-left: 10px;
}
.test-section-title {
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(#ddd, #aaa);
    margin-bottom: 10px;
    padding: 5px 0;
}
.checkbox-label {
    margin: 0 10px;
}
.test-key {
    font-size: 20px;
    font-weight: bold;
}
.test-key-status-SUCCESS{
    background-color: #abecab;
}
.test-key-status-FAILURE{
    background-color: #ffa1a1;
}
.test-key-status-SKIPPED{
    background-color: orange;
}
.title-top-link {
    position: relative;
    left: 30px;bottom: 2px;
    font-size: 15px;
    color: #3a456c;
}