@import "../../../util/variables";

.shopping-cart-page {
  display: flex;
  justify-content: center;

  .shopping-cart {
    background-color: white;

    .title {
      font-weight: bold;
      padding: 10px 0 10px 0;
      box-shadow: $select-items-box-shadow-light;
    }
    .bottom {
      padding: 10px 0 10px 0;
      background-color: #f4ede6;
      display: flex;
      justify-content: center;
      .item {
        padding: 10px;
      }

      .price {
        font-weight: bold;
      }
    }
  }
  .cancel-item {
    &:hover {
      cursor: pointer;
    }
  }
}
