@import "../../util/variables";

.catalog-item-component {
  width: 400px;
  margin: 0 10px 0 10px;
  border: 1px solid #777;
  background-color: white;
  box-shadow: $select-items-box-shadow;

  .name {
    padding: 10px 0 10px 0;
    background-color: #c4d7f0;
    margin-bottom: 20px;
  }
  &:hover {
    transform: scale(1.01, 1.015);
    transition: transform 4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

  img {
    width: 150px;
    height: 150px;
  }
  .price {
    font-weight: bold;
  }
  .bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 10px 0 20px 0;
    .add-to-cart {
      margin:0 auto;
      background-color: #2c8dc4;
      color: white;
      font-weight: bold;
      padding: 10px;
      border: 1px solid #0f5278;

      &:hover {
        cursor: pointer;
        color: yellow;
        border: 1px solid black;
      }
    }
  }
}
